* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ******** Debajo, estilos del header ******** */
header {
    padding: 0.5rem;
    background-color: burlywood;
}

.logo {
    font-size:larger;
    width: 13%;
    height: auto;
    padding: 23px 37px;
    border: 1px solid green;
    background-color: lightseagreen;
    text-align: center;
}

.flexvertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.flexhorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-self: center;
    justify-content:space-around;
}

nav {
    width: 50%;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 23px 37px;
    justify-items: center;
    justify-self: center;
    justify-content: space-around;
}

.boton {
    margin: 3px;
    padding: 7px 15px 7px 15px;
    font-size: medium;
    text-align: center;
    width: 7em;
    height: auto;
    border: 1px solid darkgoldenrod;
    border-radius: 7px;
    background-color: olive;
}
/* ******** Fin estilos del header ******** */

/* ******** Debajo, estilos del main ******** */
main {
    padding: 13%;
    background-color: lightsteelblue;
    font-size: xx-large;
}
/* ******** Fin estilos del main ******** */

/* ******** Debajo, estilos del footer ******** */
footer {
    padding: 1rem;
    background-color: burlywood;
}
.redes-sociales {
    font-size: small;
    text-align: center;
    width: 2rem;
    height: 1.5rem;
    padding: 3px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: skyblue;
}

/* ******** Fin estilos del footer ******** */
@media (max-width: 459px) {
    /* Phones */

    pepe {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
    }
    .caja1 {
        color: white;
        background-color: red;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
    .caja2 {
        color: white;
        background-color: green;
        height: 33%;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .caja3 {
        color: white;
        background-color: blue;
        height: 33%;
        border: 3px solid red;
        border-radius: 5px;
    }
}

@media (min-width: 460px) and (max-width: 767px){
    /* Tablets */

    pepe {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:center;
        padding: 15px;
    }
    .caja1 {
        background-color: yellow;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
    .caja2 {
        background-color: orange;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
    .caja3 {
        background-color: mediumvioletred;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
}    

@media (min-width: 768px) {
    /* Laptops */
    
    pepe {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
    }
    .caja1 {
        background-color: grey;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
    .caja2 {
        background-color: rosybrown;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }
    .caja3 {
        background-color: lightblue;
        height: 33%;
        border: 3px solid green;
        border-radius: 5px;
    }    
}