<!DOCTYPE html>
<html>
    <head>

        <title> Eco HONeY Marketplace </title>

        <!-- Debajo, configuración de la tabla de caracteres idiona no-inglés -->
        <meta charset="UTF-8">
        <!-- Fin configuración de la tabla de caracteres idiona no-inglés -->
        
        <!-- Debajo, configuración del viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fin configuración viewport -->

        <!-- Debajo, configuración de íconos y fonts de terceros (Google, fontawesome)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 

        <script src="https://kit.fontawesome.com/2752ae1859.js" crossorigin="anonymous"></script>
        <!-- Fin configuración de íconos y fonts de terceros (Google, fontawesome)-->

        <!-- Debajo, linkeo de las stylesheets-->
        <link rel="stylesheet" href="./css/index.css">
        <!-- Fin linkeo de las stylesheets-->


    </head>
    <body width="1vw" height="1vh">
        
        <header>
        
            <section class="container-top-header"><!-- Debajo va el código de la navbar 
                                    y de los botones de Logging y Registro -->
                <!---------------------------------->
        
                <div class="top-header">

                <div class="logo">

                    <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                </div>
                <!---------------------------------->
                <nav>
                    <ul class="nav-bar" type="none">
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="./views/lineaHogar.html">Categorías</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </nav>
                <!------------OJO----Falta aun hacer los botones y su css------------------>
                <div class="flex-vertical-login-registro">

                 <div class="boton"><a href="#">Logging</a></div>
                 <div class="boton"><a href="#">Registrate</a></div>
                </div>
                <!---------------------------------->
            </div>

            </section>    <!--        Fin navbar, Logging y Registro          -->    
        
        </header>

        <!--Buscar producto-->
        <div class="buscador">
            <div class="buscar-producto">
                <input  type= "Buscar" placeholder="Que producto buscas?"></input>
                 
              <div class="boton-buscar">
                 <button type="submit" ><i class="fas fa-search"></i></button>
              </div>

        </div>
        </div>

        <!--Banner Aqui-->
        <section class="banner">
            <img src="images/banner-juntos.png" alt="Banner de prueba">
          </section>
      

        <main>
            
            <div class="flex-Horizontal"> <!--cambie flex-vertical por horizontal, luego adaptamos-->
                <!---------------------------------->
              <div class=etiqueta-oferta>
                <p class="titulo-ofertas">Ofertas especiales</p>
              </div>

                <section class="Ofertas">
                    

                    <div class="productos">

                    
                        <article>
                        
                         
                          <img src="/images/vaso-plegable.jpg" alt="">
                  
                          <div class="contenedor1">
                          <i class="fas fa-cart-plus"></i>
                          <p class="precios">$1.800</p>
                          <p class="descuentos">20% Off</p>
                          <p class="descripciones">Vaso ecologico termico y Plegable </p>
                        </div>
                        </article>
                  
                  
                        <article>
                          <img src="/images/envoltorio-ecologico-colmena.jpg" alt="">
                  
                          <div class="contenedor1">
                            <i class="fas fa-cart-plus"></i>
                          <p class="precios">$150</p>
                          <p class="descuentos">30% Off</p>
                          <p class="descripciones">Envoltorio ecologico</p>
                          
                        </div>
                        </article>
                  
                  
                        <article>
                  
                          <img src="/images/pabilo-organico.jpg" alt="">
                  
                          <div class="contenedor1">
                            <i class="fas fa-cart-plus"></i>
                          <p class="precios">$200</p>
                          <p class="descuentos">15% Off</p>
                          <p class="descripciones">Pabilo</p>
                        
                          </div>
                        </article>

                    </article>
                  
                    <article>
              
                      <img src="/images/vaso-ecologico-infantil.jpg" alt="">
              
                      <div class="contenedor1">
                        <i class="fas fa-cart-plus"></i>
                      <p class="precios">$1200</p>
                      <p class="descuentos">35% Off</p>
                      <p class="descripciones">Vaso eco infantil</p>
                    
                      </div>
                    </article>


                  
                      </div>

                </section>
                <!-------------------Fin seccion scrollable de Ofertas----------------->
                
                <!---------------Seccion scrollable de promociones---Esta seccion la cambie por especial de abejas.---------------->
                
                <div class=Etiqueta-Especial-Abejas>
                  <p class="titulo-Especial-abejas">Especial de Abejas</p>
                </div>
                
                
                <section>
                    
                    <div class="productos">

                    
                      <article>
                      
                       
                        <img src="/images/honey-essence.jpg" alt="">
                
                        <div class="contenedor1">
                        <i class="fas fa-cart-plus"></i>
                        <p class="precios">$2.800</p>
                        <p class="descuentos">10% Off</p>
                        <p class="descripciones">Honey essence </p>
                      </div>
                      </article>
                
                
                      <article>
                        <img src="/images/miel-organica.PNG" alt="">
                
                        <div class="contenedor1">
                          <i class="fas fa-cart-plus"></i>
                        <p class="precios">$550</p>
                        <p class="descuentos">20% Off</p>
                        <p class="descripciones">Miel Organica</p>
                        
                      </div>
                      </article>
                
                
                      <article>
                
                        <img src="/images/envoltorios-de-cera-de-abeja.jpg" alt="">
                
                        <div class="contenedor1">
                          <i class="fas fa-cart-plus"></i>
                        <p class="precios">$400</p>
                        <p class="descuentos">15% Off</p>
                        <p class="descripciones">Envoltorio cera de abeja</p>
                      
                        </div>
                      </article>

                  </article>
                
                  <article>
            
                    <img src="/images/crema-nutritiva.PNG" alt="">
            
                    <div class="contenedor1">
                      <i class="fas fa-cart-plus"></i>
                    <p class="precios">$800</p>
                    <p class="descuentos">45% Off</p>
                    <p class="descripciones">Crema nutritiva</p>
                  
                    </div>
                  </article>


                
                    </div>
                </section>


                <!---------------------------------->
            

         <!--Caja de imagenes que conectan a los enlaces de categorias hogar-cuidado personal--producto abejas-->  
         
         <section>
             <div class=Imagenes-al-catalogo>

                <a title="Hogar" href="./views/lineaHogar.html"><img src="images/hogar.jpg" alt="Productos del Hogar" /></a>

                <a title="Cuidado Personal" href="./views/lineaCuidadoPersonal.html"><img src="images/cuidado-personal.jpg" alt="Produtos de cuidado Personal" /></a>

                <a title="Productos Abejas" href="./views/lineaProductoDeLasAbejas.html"><img src="images/productos-abejas.png" alt="Productos de las abejas" /></a>

             </div>
         </section>
        
        </main>

        <footer>

            <section class="flexhorizontal">

                <div>
                    <p>Espacio para información de horarios de atención y delivery, 
                        puntos de venta y de pick-up, link a Google Maps, etc.
                    </p>
                </div>

                <div class="redes-sociales-padre"><!-- Debajo va el código de navegación a redes sociales -->
                    <h5>Seguinos en las redes!</h5>
                    <!---------------------------------->
                    <div class="flexhorizontal">
                        <div class="redes-sociales"><a href="#">Facebook</a><i class="fab fa-facebook-square"></i></div>
                        <div class="redes-sociales"><a href="#">Twitter</a><i class="fab fa-twitter-square"></i></div>
                        <div class="redes-sociales"><a href="#">Instagram</a><i class="fab fa-instagram-square"></i></div>
                        <div class="redes-sociales"><a href="#">Whatsapp</a><i class="fab fa-whatsapp"></i></div>
                    </div>
                <!---------------------------------->
                </div><!--        Fin navegación a redes sociales            -->

            </section>
        
        </footer>
        
    </body>
</html>